<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Signup Approved</title>
  </head>
  <body>
    <p>Hello {{name}},</p>
    <p> Your signup has been approved!</p>
    <p>You can now log in to the portal using the link below:</p>
    <a href="{{loginUrl}}"> Click here to login</a>
    <p>Regards,<br />Society Management Team</p>
  </body>
</html>
