<h3>Password Reset Request</h3>
<p>Hello,</p>

<p>We received a request to reset your password.</p>

<p>Click the link below to set a new password. This link will expire in 10 minutes:</p>

<p><a href="{{resetLink}}">Reset Password</a></p>

<p>If you didn't request this, you can safely ignore this email.</p>

<p>Regards,<br/>Society Management Team</p>
